# Salin file ini jadi .env lalu isi nilainya
# cp .env.example .env   (Linux/Mac)
# copy .env.example .env  (Windows)

# MinIO credentials
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123

# Hive Metastore database
HIVE_PG_USER=hive
HIVE_PG_PASSWORD=hivepassword
HIVE_PG_DB=metastore

# Airflow
AIRFLOW_UID=50000
AIRFLOW__CORE__FERNET_KEY=

# Superset
SUPERSET_SECRET_KEY=ganti_dengan_string_acak_panjang_minimal_32_karakter